<p class="bg-blue-500 text-white font-bold py-2 px-3 rounded mt-2">
   <%= @saludo %>
</p>

<div id="<%= dom_id(product) %>">
  <%= image_tag product.photo, width: 200 if product.photo.attached? %>

  <h1 class='title'>Nombre: <%= product.title %></h1>

  <p class='description'>Descripcion: <%= product.description %></p>

 <span class='price'>Precio: $<%= number_with_delimiter(product.price, delimiter: '.', separator: ',') %></span>

  <span class='stock'>Stock: <%= product.stock %></span> 
</div>
