<%= link_to product_path(product), class: 'product bg-white mb-2 rounded sm:w-[calc(33.33333%_-_.5rem)] lg:w-[calc(33.33333%_-_.5rem)]', 'data-turbo-frame': '_top' do %>
  <%= image_tag product.photo.attached? ? product.photo : 'placeholder.jpg', class: "w-full h-60 object-cover rounded-t" %>
  <div class="p-4">
    <span class='price text-lg font-bold'>$<%= number_with_delimiter(product.price, delimiter: '.', separator: ',') %></span>
    <h2 class="text-xl font-bold mt-2"><%= product.title %></h2>
    <p class="text-gray-500 text-sm mt-2"><%= product.description %></p>
  </div>
<% end %>
