<div id="<%= dom_id(product) %>">
  <%= image_tag product.photo, width: 200 if product.photo.attached? %>

  <h1 class='title'>Nombre: <%= product.title %></h1>

  <p class='description'>Descripcion: <%= product.description %></p>

  <span class='price'>Precio: <%= product.price %>$</span>
</div>